[submodule "External/Vulkan-Headers"]
	path = External/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/SPIRV-Tools"]
	path = External/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
