[submodule "External/Vulkan-Headers"]
	path = External/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
